<form (ngSubmit)="insertPerson()">
  <div class="form-group">
    <label for="name">First Name</label>
    <input type="text" name="firstname" class="form-control" [(ngModel)]="person.firstName">
  </div>
  <div class="form-group">
    <label for="name">Last Name</label>
    <input type="text" name="lastname" class="form-control" [(ngModel)]="person.lastName">
  </div>
  <div class="form-group">
    <label for="name">Email</label>
    <input type="text" name="email" class="form-control" [(ngModel)]="person.email">
  </div>
  <div class="form-group">
    <label for="name">Phone</label>
    <input type="text" name="phone" class="form-control" [(ngModel)]="person.phone">
  </div>

  <button class="btn btn-dark btn-sm mt-4">Submit</button>
</form>

<br>
<!--<button class="btn btn-warning btn-sm mx-2" routerLink="addPerson">Add Person</button>-->
<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let pers of persons">
      <th scope="row">{{ pers.id }}</th>
        <td>{{ pers.firstName }}</td>
        <td>{{ pers.lastName }}</td>
        <td>{{ pers.email }}</td>
        <td>{{ pers.phone }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deletePerson(pers.id)">Delete</button>
          <button class="btn btn-warning btn-sm mx-2" routerLink="edit/{{ pers.id }}">Update</button>
        </td>
    </tr>
  </tbody>
</table>
